
    <div class="ui  grid container" style="margin-top: 2%;">
        <div class="ui row">
            <h1 class="ui blue header">Junior's Aptitude test</h1>
        </div>
        <div class="ui row">
            <form class="ui form" method="post" style="width: 100%; font-size: 18px;">
                
        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 0</div>
            <br>
            A number A is said to be ‘seed’ of number of B if multiplying A by its digits equates to B. Among the following numbers, which is a seed of 738.
            <br>
            <input type="radio" name="0" value="234"> 234<br><input type="radio" name="0" value="123"> 123<br><input type="radio" name="0" value="145"> 145<br><input type="radio" name="0" value="168"> 168<br>
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 1</div>
            <br>
            Will the program compile?<pre class="prettyprint">
#include&lt;stdio.h&gt;
	int main()
{
	char str[5] = "Howisthetestgoing?";
	return 0;
}</pre>
            <br>
            <input type="text" class="ui text" name="1"
                         placeholder="your answer..." />
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 2</div>
            <br>
            What is the last digit of 358^99?
            <br>
            <input type="radio" name="2" value="8"> 8<br><input type="radio" name="2" value="6"> 6<br><input type="radio" name="2" value="4"> 4<br><input type="radio" name="2" value="2"> 2<br>
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 3</div>
            <br>
            A robot is located at the top-left corner of a 5*8 grid. The robot can only move either down or right at any point in time. The robot is trying to reach the bottom-right corner of the grid. How many possible unique paths are there?
            <br>
            <input type="radio" name="3" value="330"> 330<br><input type="radio" name="3" value="120960"> 120960<br><input type="radio" name="3" value="13!"> 13!<br><input type="radio" name="3" value="520"> 520<br>
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 4</div>
            <br>
            Two trains running in opposite directions cross a man standing on the platform in 27 seconds and 17 seconds respectively and they cross each other in 23 seconds. The ratio of their speeds is:
            <br>
            <input type="radio" name="4" value="1:3"> 1:3<br><input type="radio" name="4" value="3:2"> 3:2<br><input type="radio" name="4" value="3:4"> 3:4<br><input type="radio" name="4" value="3:1"> 3:1<br>
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 5</div>
            <br>
            Find the next number, given: 8, 7, 11, 12, 14, 17, 17, 22, (....)
            <br>
            <input type="radio" name="5" value="27"> 27<br><input type="radio" name="5" value="20"> 20<br><input type="radio" name="5" value="22"> 22<br><input type="radio" name="5" value="24"> 24<br>
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 6</div>
            <br>
            All the opposite faces of a big cube are coloured with red, black and green colours. After that is cut into 64 small equal cubes. How many small cubes are there where one face is green and other one is either black or red?
            <br>
            <input type="radio" name="6" value="28"> 28<br><input type="radio" name="6" value="8"> 8<br><input type="radio" name="6" value="16"> 16<br><input type="radio" name="6" value="24"> 24<br>
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 7</div>
            <br>
            There is a Kingdom, a King, and a Queen. A carnival is scheduled. The King orders 1000 bottles of wine for the carnival. The Queen wants to kill the King. Queen sends an assassin to mix poison in ONE of the 1000 bottles. The effect of the poison is such that the person who took it, will die after 1 day. Somehow the King happened to know about the conspiracy, and wants to find the poisonous bottle. The King has 10 prisoners on whom he can use the wine to test, whether it’s poisonous. Help our king find out the minimum number of day/s required to find the poisonous bottle, so that he can reschedule carnival and hence live.
            <br>
            <input type="text" class="ui text" name="7"
                         placeholder="your answer..." />
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 8</div>
            <br>
            You have 20 bottles of pills. 19 bottles have 1.0 gram pills, but one has pills of weight 1.1 grams. Given a scale that provides an exact measurement, how would you find the heavy bottle? You can only use the scale once. Note: There are infinite pills in each bottle.
            <br>
            <input type="text" class="ui text" name="8"
                         placeholder="your answer..." />
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 9</div>
            <br>
            Determine the output. <pre class="prettyprint"> 
#include&lt;stdio.h&gt;
int main()
{
	unsigned int 7x=511,count=0;
	while(x)
	{
		count++;
		x=x&(x-1);
	}
	printf("%d",count);
	return 0;
}</pre>
            <br>
            <input type="text" class="ui text" name="9"
                         placeholder="your answer..." />
        </div>
        </div>

        <div class="field">
        <div class="ui blue segment" id="question-section">
            <div class="ui label">Question 10</div>
            <br>
            Given two strings A and B, write a function or an algorithm which returns true if B is a permutation of A
            <br>
            <textarea class="ui text" name="10"></textarea>
        </div>
        </div>

                <input type="submit" value="Submit your response" class="ui blue button" />
            </form> 
        </div>
    </div>
    