
<!DOCTYPE html>
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='semantic-ui/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='google-code-highlighter/run_prettify.js') }}"></script>
    
    <style type="text/css">
        #question-section {
            line-height: 30px;
        }
        #ip11 {
           height: 200px; 
        }
    </style>
</head>

<body>
    {% include 'form.html' %}
</body>
